### Client part ###

# User-specific files
.vs/

# Build result
*.dll
*.exe
*.manifest
*.ilk
*.iobj
*.ipdb
*.pdb
*.tlog/
*.log
*.obj
*.idb
*.res
*.CopyComplete
GeneratedFiles/

# exception
!libeay32.dll
!ssleay32.dll

### End of Client part ###

### Server part ###

# STS based on Eclipse
.settings/
.springBeans

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java
target/

### End of Server part ###